.kittasearch {
  &__outer {
    &__header-text {
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      color: var(--yellow-theme-main-color);
      font-size: 16px;
      font-weight: 700;
      font-style: italic;
    }

    &__header__heading-text {
      font-size: 16px;
      color: var(----yellow-theme-main-color);
    }

    &__form {
      display: flex;

      &__item {
        width: 100%;

        &__input {
          padding: 5px 40px 5px 15px;
          border: 1px solid var(--yellow-theme-sub-text-color) !important;
          border-radius: 25px;
          width: 100%;
          font-size: 17px;
          background-color: var(--yellow-theme-background-color);
          color: var(--yellow-theme-main-color);
        }

      }

    }
  }



}



.result-div {
  display: flex;
  justify-content: space-around;
  font-size: small;
  padding: 10px;
  border: 1px solid var(--yellow-theme-main-color);
  border-radius: 5px;
  margin: 10px;
  color: var(----yellow-theme-main-color);
}

table {
  margin-top: 10px;
  width: 100%;
}

table,
th,
tr,
td {
  border: 1px solid var(--yellow-theme-main-color);
  border-collapse: collapse;
  color: var(--yellow-theme-main-color);
}

@media (max-width: 550px) {

  .kittasearch {
    &__outer {
      &__form {
        flex-direction: column;

        &__item {
          margin-bottom: 10px;
        }
      }



    }
  }

  .result-div {
    flex-direction: column;
  }
}