:root {
    --yellow-theme-background-color: #090a11;
    --yellow-theme-main-color: #ffdd40;
    --yellow-theme-sub-text-color: #ffffff;
    --yellow-theme-nav-background-color: #181818;
    --yellow-theme-success-button:#04AA6D;
    --yellow-theme-warning-button: #0069d9;
    --yellow-theme-danger-button:#c82333;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;  
  }
  
  html {
    font-size: 55%;
    height: 100%;
  }
  
  body {
    background: var(--yellow-theme-background-color);
    height: 100%;
  }
  
  #root {
    height: 100%;
  }
