.Addvoucher {
  display: flex;
  flex-direction: column;

  &__Form {
    display: flex;
    flex-direction: column;

    &__part {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      &__item {
        display: flex;
        flex-direction: column;
        width: 250px;
        justify-content: space-around;

        &__button {
          margin-top: 20px;
          padding: 10px 20px;
          background-color: var(--yellow-theme-main-color);
          border-radius: 15px;
          cursor: pointer;
          text-align: center;
        }

        &__label {
          color: var(--yellow-theme-sub-text-color);
          font-size: 16px;
        }
        &__input {
          padding: 5px 40px 5px 15px;
          border: 1px solid var(--yellow-theme-sub-text-color) !important;
          border-radius: 25px;
          width: 100%;
          font-size: 17px;
          background-color: var(--yellow-theme-background-color);
          color: var(--yellow-theme-main-color);
          cursor: pointer;
        }
      }


    }

  }

  &__calendardiv {
    display: flex;      
    justify-content: space-between;
    &__datediv{
      display: flex;
      flex-direction: column;
    }
  }
}

.calendar{
  width: 500px;
}