
.listvoucher {
  &__summary {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

    &__inner-div {
      gap: 10px;

      &__sirshak {
        font-size: 2rem;
        color: var(--yellow-theme-main-color);
        font-family: kalimati;
      }

    }
  }
  &__list {
    &__editbtn{
      padding: 2px 10px;
      background-color: var(--yellow-theme-warning-button);
      border-radius: 15px;
      cursor: pointer;
      text-align: center;
      border-color: var(--yellow-theme-warning-button);
      color: var(--yellow-theme-sub-text-color);
      &:hover{
        border-color: var(--yellow-theme-main-color);
      }
    }
    &__delbtn{
        padding: 2px 10px;
        background-color: var(--yellow-theme-danger-button);
        border-color: var(--yellow-theme-danger-button);
        border-radius: 15px;
        cursor: pointer;
        text-align: center;
        color: var(--yellow-theme-sub-text-color);
        &:hover{
          border-color: var(--yellow-theme-main-color);
        }
    }
    &__table {
      margin-top: 10px;
      width: 100%;
      text-align: left;
      border-collapse: collapse;
      font-family: kalimati;
      th,
      tr,
      td {
        text-align: left;
        border: 1px solid var(--yellow-theme-main-color);
        color: var(--yellow-theme-main-color);
        font-size: 14px;
      }
    }

  }

  &__adddiv {
    display: flex;
    justify-content: space-between;

    &__search {
      &__input {
        padding: 5px 40px 5px 15px;
        border: 1px solid var(--yellow-theme-sub-text-color) !important;
        border-radius: 25px;
        width: 100%;
        font-size: 17px;
        background-color: var(--yellow-theme-background-color);
        color: var(--yellow-theme-main-color);
      }
    }

    a {
      text-decoration: none;
    }

    &__addbtn {
      padding: 5px 15px;
      background-color: var(--yellow-theme-success-button);
      border-radius: 15px;
      cursor: pointer;
      border-color: var(--yellow-theme-success-button);
     
      span {
        font-size: 1.5rem;
        color: var(---yellow-theme-sub-text-color);
        font-weight: 700;
        text-decoration: none;

      }

      &:hover {
        background-color: var(--yellow-theme-main-color);
        border-color:var(--yellow-theme-main-color) ;
        span {
          color: var(--yellow-theme-nav-background-color);
        }
      }
    }

  }
}