.Voucherdetails {
  &__dateform {
    display: flex;
    justify-content: space-around;

    &__item {
      align-self: center;

      &__label {
        font-size: 16px;
        color: var(--yellow-theme-main-color);
      }
    }
  }

  &__month {
    display: flex;
    padding: 10px;
    gap: 25px;
    border: 1px solid var(--yellow-theme-main-color);
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;

    &__button {
      &__button {
        background-color: var(--yellow-theme-main-color);
        border: 1px solid var(--yellow-theme-background-color);
        color: var(--yellow-theme-background-color);
        font-weight: 800;
        padding: 10px;
        cursor: pointer;
        border-radius: 15px;
      }
    }

    &__item {
      text-align: center;

      &__box {
        width: 35px;
        color: var(--yellow-theme-main-color);
      }
    }

    h4 {
      color: var(--yellow-theme-main-color);
      font-size: 14px;
    }
  }
}