.Voucherfant {
  &__table{
    text-align: left;
  }
    &__month {
      gap: 25px;
    display: flex;    
    padding: 10px;
    border: 1px solid var(--yellow-theme-main-color);
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
    &__button {
      &__button {
        background-color: var(--yellow-theme-main-color);
        border: 1px solid var(--yellow-theme-background-color);
        color: var(--yellow-theme-background-color);
        font-weight: 800;
        padding: 10px;
        cursor: pointer;
        border-radius: 15px;
      }
    }

    &__item {
      text-align: center;
      &__box {
        width: 35px;
        color: var(--yellow-theme-main-color);
      }

      h4 {
        color: var(--yellow-theme-main-color);
        font-size: 14px;
      }
    }
  }
}

.reporttable {
  text-align: left;
}
.line{
  height: 10px;
}
.spacer {
  flex-grow: 1;
}

@media print {
  .Vouchermonthly {
    &__table{
      width: 100%;
      text-align: left;
      border-collapse: collapse;
      font-family: kalimati;
      th,
      tr,
      td {
        text-align: left;
        border: 1px solid var(--yellow-theme-nav-background-color);
        color: var(--yellow-theme-nav-background-color);
        font-size: 16px;
        border: solid #000 !important;
        border-width: 0 1px 1px 0 !important;
      }
    }
    &__month{
      display: flex;
      flex-direction: column;
    }
  }
}