.Voucherdetails{
    &__dateform{
        display: flex;    
        justify-content: space-around;    
        &__item{
            align-self: center;
            &__label{
                font-size: 16px;
                color: var(--yellow-theme-main-color);
            }
        }
    }
}
