.Vouchermonthly__month__button__button{
    background-color: var(--yellow-theme-main-color);
  border: 1px solid var(--yellow-theme-background-color);
  color: var(--yellow-theme-background-color);
  font-weight: 800;
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
}

.wide{
    width: 350px;
}