.Vouchermonthly {
  &__table{
    text-align: left;
    width: 800px;
  }
    &__month {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid var(--yellow-theme-main-color);
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
    &__button {
      &__button {
        background-color: var(--yellow-theme-main-color);
        border: 1px solid var(--yellow-theme-background-color);
        color: var(--yellow-theme-background-color);
        font-weight: 800;
        padding: 10px;
        cursor: pointer;
        border-radius: 15px;
      }
    }

    &__item {
      &__box {
        width: 35px;
        color: var(--yellow-theme-main-color);
      }

      h4 {
        color: var(--yellow-theme-main-color);
        font-size: 14px;
      }
    }
  }
}

.line{
  height: 20px;
  background-color:var(--yellow-theme-main-color);
}


@media print {
  .Vouchermonthly {
    &__table{
      width: 100%;
      text-align: left;
      border-collapse: collapse;
      font-family: kalimati;
      th,
      tr,
      td {
        text-align: left;
        border: 1px solid var(--yellow-theme-nav-background-color);
        color: var(--yellow-theme-nav-background-color);
        font-size: 16px;
        border: solid #000 !important;
        border-width: 0 1px 1px 0 !important;
      }
    }
    
  }
  .line{
    background-color:#000000;
  }
}