.register {


    &__form-outer {
        margin: 0 auto;
        width: 1200px;
        height: 300px;
        border: 1px solid var(--yellow-theme-main-color);
        border-radius: 15px;

        &__header-text {
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
            color: var(--yellow-theme-main-color);
            font-size: 16px;
            font-weight: 700;
            font-style: italic;
        }

        &__footer-text {
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
            color: var(--yellow-theme-main-color);
            font-size: 16px;
            font-weight: 700;
            font-style: italic;



            a {
                text-decoration: none;
                color: var(--yellow-theme-main-color);
                border: 1px solid var(--yellow-theme-main-color);
                padding: 10px;
                border-radius: 15px;
            }

            a:hover {
                color: var(--yellow-theme-background-color);
                border: 1px solid var(--yellow-theme-background-color);
                background-color: var(--yellow-theme-main-color);
            }
        }
    }

    &__form-inner {
        margin-left: 20px;
        display: flex;
        text-align: center;
        flex-direction: column;

&__div{
    display: flex;
    flex-direction: row;
    &__item {
        margin: 10px;

        &__input {
            padding: 5px 40px 5px 15px;
            border: 1px solid var(--yellow-theme-sub-text-color) !important;
            border-radius: 25px;
            width: 100%;
            font-size: 17px;
            background-color: var(--yellow-theme-background-color);
            color: var(--yellow-theme-main-color);
            
        }

        &__button {       
            background-color: var(--yellow-theme-main-color);
            border-radius: 5px;
            font-size: 17px;
            font-family: 'Source Sans Pro', sans-serif;
            padding: 6px 18px;
            cursor: pointer;
        }

    }
}

        

    }
}

@media only screen and (max-width:768px) {
    .register {
        &__form-outer {
            width: 350px;
            height: 600px;
        }

        &__form-inner {
            flex-direction: column;
            &__div{
                flex-direction: column;
            } 
        }
        
    }
}