.misilsearch {
    &__outer {
        &__form {
            display: flex;
            justify-content: space-around;
            &__item {
                &__input {
                    padding: 5px 40px 5px 15px;
                    border: 1px solid var(--yellow-theme-sub-text-color) !important;
                    border-radius: 25px;
                    width: 100%;
                    font-size: 17px;
                    background-color: var(--yellow-theme-background-color);
                    color: var(--yellow-theme-main-color);
                }
                &__button {
                    text-align: center;
                    background-color: var(--yellow-theme-main-color);
                    border-radius: 5px;
                    font-size: 17px;
                    font-family: 'Source Sans Pro', sans-serif;
                    padding: 6px 18px;
                    cursor: pointer;
                }
            }
        }
    }
}