.row{
    display: flex;
    justify-content: space-around;
}
.rowitem{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.headertext{
    color: var(--yellow-theme-main-color);
    font-size: 19px;
}
.addbtn{    
  display: block;
  padding: 0.3rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  color: var(--yellow-theme-main-color);
  font-size: 1.8rem;
  border: 1px solid var(--yellow-theme-main-color);
  cursor: pointer;
}
.add{
    justify-content: start;
}

.label {
    color: var(--yellow-theme-sub-text-color);
    font-size: 16px;
  }
 .input {
    padding: 5px 40px 5px 15px;
    border: 1px solid var(--yellow-theme-sub-text-color) !important;
    border-radius: 25px;
    width: 100%;
    font-size: 17px;
    background-color: var(--yellow-theme-background-color);
    color: var(--yellow-theme-main-color);
    cursor: pointer;
  }
  .flex{
    display: flex;
  }
  .miti{
    width: 150px;
  }
  .flexrow{
    display: flex;
    flex-direction: row;
  }
  .flexcol{
    display: flex;
    flex-direction: column;
  }
  .flexform{
    display: flex;
    justify-content: space-around;
  }
.btnedit{
    padding: 2.5px 10px;
    background-color: var(--yellow-theme-main-color);
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    color: black;
}

.btndelete{
    padding: 2.5px 10px;
    background-color:skyblue;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    color: black;
}
