.bargikaran {


  &__heading {
    display: flex;
    justify-content: space-around;

    &__text {
      font-size: 20px;
      color: var(--yellow-theme-main-color);
      font-weight: 700;
      margin-bottom: 20px;
    }

    &__button {
      background-color: var(--yellow-theme-main-color);
      border-radius: 5px;
      font-size: 17px;
      font-family: 'Source Sans Pro', sans-serif;
      padding: 6px 18px;
      cursor: pointer;
    }
  }

  &__form {
    display: flex;
    justify-content: space-around;

    &__form-item {
      &__input {
        padding: 5px 40px 5px 15px;
        border: 1px solid var(--yellow-theme-sub-text-color) !important;
        border-radius: 25px;
        width: 100%;
        font-size: 17px;
        background-color: var(--yellow-theme-background-color);
        color: var(--yellow-theme-main-color);
      }

    }
  }

  &__result {
    display: flex;
    justify-content: space-around;
    padding: 20px;

    &__item {
      margin-top: 10px;
      padding: 20px;
      color: var(--yellow-theme-main-color);
      border: 1px solid var(--yellow-theme-main-color);
      font-size: 18px;
      font-weight: 700;
    }
  }
}

@media only screen and (max-width:768px) {
  .bargikaran__form {
    flex-direction: column;

    &__form-item {
      margin-bottom: 10px;
    }
  }

  .bargikaran__result {
    padding: 5px;
    flex-direction: column;

    &__item {
      padding: 05px;
      margin: 0
    }
  }



}