.bargikaranadd {
  &__heading {
    display: flex;
    justify-content: space-around;

    &__text {
      font-size: 20px;
      color: var(--yellow-theme-main-color);
      font-weight: 700;
      margin-bottom: 20px;
    }
  }
  &__form {    
    margin: 0 auto;
    justify-content: space-around;
    width: 600px;

    &__form-item {
      text-align: center;
      &__input {
        margin-top: 10px;
        padding: 5px 40px 5px 15px;
        border: 1px solid var(--yellow-theme-sub-text-color) !important;
        border-radius: 25px;
        width: 100%;
        font-size: 17px;
        background-color: var(--yellow-theme-background-color);
        color: var(--yellow-theme-main-color);
      }
      &__button{
        text-align: center;
        margin-top: 10px;
        width: 80%;
        padding: 10px 20px;
        background-color: var(--yellow-theme-main-color);
        border-radius: 15px;
        cursor: pointer;
        text-align: center;
      }
    }
  }
}