.addsubarea {
    display: flex;
    margin: 0 auto;
    margin-top: 25px;
}

.add {
    width: 50%;
    text-align: center;
}

.sub {
    width: 50%;
    text-align: center;
}

.heading {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1rem;
    color: var(--yellow-theme-main-color);
    text-align: center;
}
.center{  
  margin: 0 auto;   
  margin-top: 20px;
}
.formitem{
    display: flex;
}
