.tabbutton {
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  color: var(--yellow-theme-main-color);
  font-size: 2rem;
  border: 1px solid var(--yellow-theme-main-color);
  width: 250px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: var(--yellow-theme-main-color);
    color: var(--yellow-theme-background-color);

}
}


.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}