.list {
    &__outerdiv {
        margin: 0 auto;
        width: 800px;
        height: 150px;
        border: 1px solid var(--yellow-theme-main-color);
        border-radius: 15px;

        &__header-text {
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: center;
            color: var(--yellow-theme-main-color);
            font-size: 20px;
            font-weight: 700;
            font-style: italic;
        }       
    }


    &__form {
        margin-left: 20px;
        display: flex;
        text-align: center;

        &__item {
            margin: 10px;

            &__input {
                padding: 5px 40px 5px 15px;
                border: 1px solid var(--yellow-theme-sub-text-color) !important;
                border-radius: 25px;
                width: 100%;
                font-size: 17px;
                background-color: var(--yellow-theme-background-color);
                color: var(--yellow-theme-main-color);
            }

            &__button {
                text-align: center;
                background-color: var(--yellow-theme-success-button);
                border-color: var(--yellow-theme-success-button);
                border-radius: 25px;
                font-size: 17px;
                font-family: 'Source Sans Pro', sans-serif;
                padding: 6px 18px;
                cursor: pointer;
                &:hover{
                    border-color: var(--yellow-theme-main-color);
                }
            }

        }

    }
}

.editbtn{
    padding: 2px 10px;
      background-color: var(--yellow-theme-warning-button);
      border-radius: 15px;
      cursor: pointer;
      text-align: center;
      border-color: var(--yellow-theme-warning-button);
      color: var(--yellow-theme-sub-text-color);
      &:hover{
        border-color: var(--yellow-theme-main-color);
      }
}

.table-800{
    width: 800px;
    margin: 0 auto;
    text-align: center;
}
