.AdminSidebar {
    &__menus {
      &__menu-text {
        font-size: 1.5em;
        text-align: center;
        color: skyblue;
      }
  
     
      ul li {
        margin-top: 10px;
        list-style: none;
        text-align: center;
  
      }
  
      ul li a {
        text-decoration: none;
        display: block;
        padding: 0.3rem;
        margin: 0 0.5rem;
        border-radius: 0.5rem;
        color: var(--yellow-theme-main-color);
        font-size: 1.8rem;
        border: 1px solid var(--yellow-theme-main-color);
      }
  
      a.active {
        background-color: var(--yellow-theme-main-color);
        border: 1px solid var(--yellow-theme-background-color);
        color: var(--yellow-theme-background-color);
        font-weight: 800;
  
      }
  
      a:not(.active):hover {
        background-color: lightgreen;
        color: var(--color2);
      }
  
  
    }
  }
  
  @media print
  {    
      .no-print, .no-print *
      {
          display: none !important;
      }
  }