.wrapper {
    margin-bottom: 20px;    
    align-items: center;
    text-align: center;
    padding: 20px;
    border-bottom: 1px dashed var(--yellow-theme-main-color);
    h2 {
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 1.5px;
        line-height: 1rem;
        text-transform: capitalize;
        color: var(--yellow-theme-main-color);   
        }

    span {
        svg {
            color: var(--yellow-theme-main-color);
        }
    }
}