.wrapper {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px dashed var(--yellow-theme-main-color);

    h2 {
        font-size: 32px;
        font-weight: 700;
        letter-spacing: 1.5px;
        line-height: 1rem;
        text-transform: capitalize;
        color: var(--yellow-theme-main-color);
        display: flex;
        flex-grow: 1;

    }
    h4 {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1.5px;
        line-height: 1rem;
        text-transform: capitalize;
        color: skyblue;
        
    }

    span {
        svg {
            color: var(--yellow-theme-main-color);
        }
    }
}