RewriteEngine On
RewriteBase /api/voucher/

# If file or directory does not exist, send to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
